* {
  margin: 0 auto;
  max-width: 100%;
  font-family: "dosis", sans-serif;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: white !important;
}
a:hover {
  color: #333 !important;
}
footer p {
  margin: 0 !important;
}
/*Header*/
.fixed-header {
  background-color: #af54a7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 1000;
}
.bi {
  color: white;
}
.bi-envelope-at-fill {
  margin: 0 auto;
  color: white;
}
/*navbar*/
.menu {
  background: radial-gradient(
    circle,
    rgba(175, 84, 167, 1) 50%,
    rgba(175, 84, 167, 0.40242034313725494) 100%
  );
  padding: 0;
  overflow: hidden;
  margin: 0;
  box-shadow: 5px 5px 20px grey;
}

#logo {
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
  max-width: 100%;
  margin-bottom: 0;
  padding: 0;
  z-index: 1000;
}

#navbar {
  background-color: transparent !important;
  font-size: 16px !important;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  transition: 150ms all ease-in-out;
}

.navbar-toggle:hover {
  color: #333;
}
.contact {
  background: radial-gradient(
    circle,
    rgba(175, 84, 167, 1) 50%,
    rgba(175, 84, 167, 0.40242034313725494) 100%
  );
  text-align: center;
  justify-content: center;
  color: #facaf6;
  padding: 10px !important;
  font-size: 16px;
}
.contact p {
  font-size: 18px !important;
}
.text {
  color: white;
  font-size: 24px;
}
.blog-cards {
  margin: 40px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body .blog-cards .card-body .subtitle i {
  color: #af54a7 !important;
}
.card {
  margin: 5px;
  box-shadow: 5px 5px 10px #af54a750;
  position: static !important;
}
.btn {
  background-color: #af54a7 !important;
  border: #af54a7 !important;
  box-shadow: 5px 5px 10px #3333334c;
}
.rights {
  background-color: #af54a7;
  color: #facaf6;
  text-align: center;
  font-size: 14px !important;
}
#geotag {
  color: white;
  font-size: 20px;
  font-size: 24px;
}
/*construction site page*/
.container {
  text-align: center;
  margin: 150px 0;
}
.container img {
  max-width: 280px;
}
.container h2 {
  font-size: 72px;
  font-weight: bold;
  color: #af54a7;
}

/*Responsive*/
@media screen and (max-width: 1040px) {
  #toggler-icon {
    font-size: 30px !important;
    transition: all 150ms ease-in;
  }
  #toggler-icon:hover {
    color: #333;
  }

  .navbar-toggler {
    display: block;
    width: 100%;
    color: transparent !important;
    border: none !important;
    text-align: center;
  }
  #logo {
    margin-top: 20px;
  }
}
