* {
  margin: 0 auto;
  max-width: 100%;
  font-family: "dosis", sans-serif;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: white !important;
  font-size: 16px !important;
}
a:hover {
  color: #333 !important;
}
span {
  font-size: 16px;
}
h1 {
  text-align: center;
  margin-bottom: 40px !important;
  color: #af54a7 !important ;
  font-size: 40px !important ;
}
h2 {
  color: #af54a7 !important;
}
img {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
strong {
  color: #af54a7;
}
p {
  line-height: 26px;
  font-size: 18px;
  text-wrap: wrap;
  margin: 50px;
}
li {
  line-height: normal !important;
  font-size: 18px;
  text-align: start;
  padding-top: 5px !important;
}
button {
  color: white;
  border: none;
}
/*Header*/
.fixed-header {
  background-color: #af54a7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 1000;
}
.bi {
  color: white;
}
.bi-envelope-at-fill {
  margin: 0 auto;
  color: white;
}
/*Navbar*/
.menu {
  background: radial-gradient(
    circle,
    rgba(175, 84, 167, 1) 50%,
    rgba(175, 84, 167, 0.40242034313725494) 100%
  );
  padding: 0;
  overflow: hidden;
  margin: 0;
  box-shadow: 5px 5px 20px grey;
}

#logo {
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: 1000;
}

#navbar {
  background-color: transparent !important;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  transition: 150ms all ease-in-out;
  font-size: 20px !important;
}
#navbar li {
  font-size: 20px !important;
}

/*Main page*/
.cenik {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 100px;
}
.vrsta-th {
  text-align: center;
  width: 50vh;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border: 2px solid white;
  box-shadow: 5px 5px 10px grey;
  margin-bottom: 70px;
  padding: 10px;
  border-radius: 30px;
}
.zagotovi-termin {
  color: #333 !important;
  margin: 20px !important;
  font-size: 18px !important;
  transition: all 150ms ease-in-out;
  color: #af54a7 !important;
  font-weight: bolder;
}
.zagotovi-termin:hover {
  color: white !important;
  background-color: #af54a7;
  padding: 5px;
  border: 1px solid #af54a7;
  border-radius: 30px;
  box-shadow: 3px 3px 10px grey;
}
.duration {
  text-align: center;
}

/*Footer*/
footer p {
  margin-bottom: 0;
}
.contact {
  background: radial-gradient(
    circle,
    rgba(175, 84, 167, 1) 50%,
    rgba(175, 84, 167, 0.40242034313725494) 100%
  );
  text-align: center;
  justify-content: center;
  color: #facaf6;
  padding: 10px !important;
  font-size: 20px;
}
.contact p {
  font-size: 18px;
}
.text {
  color: white;
  font-size: 24px;
}
.rights {
  background-color: #af54a7;
  color: #facaf6;
  text-align: center;
}
.rights p {
  font-size: 14px !important;
}
#geotag {
  color: white;
  font-size: 20px;
  font-size: 24px;
}
.vrsta-th li {
  list-style: circle;
}
/*Responsive*/
@media screen and (max-width: 1040px) {
  #toggler-icon {
    font-size: 30px !important;
    transition: all 150ms ease-in;
  }
  #toggler-icon:hover {
    color: #333;
  }

  .navbar-toggler {
    display: block;
    width: 100%;
    color: transparent !important;
    border: none !important;
    text-align: center;
  }
  .cenik {
    margin: 0 !important;
  }
  #logo {
    margin-top: 20px;
  }
}
