* {
  margin: 0 auto;
  max-width: 100%;
  font-family: "dosis", sans-serif;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: white !important;
  font-size: 16px !important;
}
a:hover {
  color: #333 !important;
}
strong {
  display: flex;
  color: #af54a7;
}
p {
  text-align: center;
  margin: 30px;
  line-height: 30px;
  font-size: 16px;
  padding-bottom: 30px;
}
/*Header*/
.fixed-header {
  background-color: #af54a7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.bi {
  color: white;
}
.bi-envelope-at-fill {
  margin: 0 auto;
  padding: 0;
  color: white;
}
/*navbar*/
.menu {
  background: radial-gradient(
    circle,
    rgba(175, 84, 167, 1) 50%,
    rgba(175, 84, 167, 0.40242034313725494) 100%
  );
  padding: 0;
  overflow: hidden;
  margin: 0;
  box-shadow: 5px 5px 20px grey;
}

#logo {
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
  max-width: 100%;
  margin-bottom: 0;
  padding: 0;
}

#navbar {
  background-color: transparent !important;
  font-size: 20px !important;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  transition: 150ms all ease-in-out;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}

.navbar-links li {
  display: block;
  margin-bottom: 10px;
}
.navbar-toggle:hover {
  color: #333;
}
.navbar-links a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
/*Vizija*/
.vizija {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vizija p {
  font-size: 20px !important;
}
/*področja dela*/
.podrocja h2 {
  text-align: center;
  font-weight: bolder;
  color: #af54a7;
  font-size: 30px;
}
.podrocja p {
  text-align: start;
  font-size: 20px;
  margin: 0 40px;
}
.podrocja ul {
  font-size: 20px;
  list-style: none;
  justify-items: center;
}
.podrocja i {
  color: #af54a7;
}
.podrocja strong {
  text-align: start !important;
}
/*list*/
.list {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  text-align: start;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.list img {
  max-width: 25%;
  box-shadow: 10px 10px 10px #33333369;
}
/*Pomoč*/
.pomoc h2 {
  text-align: center;
  font-size: 30px;
  color: #af54a7;
  font-weight: bold;
}
.pomoc h3 {
  font-size: 24px;
  color: #c965c1;
}
.pomoc ul {
  list-style: none;
  font-size: 18px;
}
.pomoc i {
  color: #af54a7;
}

/*Footer*/
footer p {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.contact {
  background: radial-gradient(
    circle,
    rgba(175, 84, 167, 1) 50%,
    rgba(175, 84, 167, 0.40242034313725494) 100%
  );
  text-align: center;
  justify-content: center;
  color: #facaf6;
  padding: 10px !important;
  font-size: 20px;
}
.contact p {
  font-size: 18px;
}
.rights {
  background-color: #af54a7;
  color: #facaf6;
  text-align: center;
  margin: 0;
  padding: 0;
}
.rights p {
  font-size: 14px !important;
}
.text {
  margin: 0 !important;
  padding: 0;
  color: white;
  font-size: 24px;
}
#geotag {
  color: white;
  font-size: 20px;
  padding-bottom: 0;
  font-size: 24px;
}

/*Responsive*/
@media screen and (max-width: 1040px) {
  .nav-link {
    display: block;
    width: 100%;
  }
  #toggler-icon {
    font-size: 30px !important;
    transition: all 150ms ease-in;
  }
  #toggler-icon:hover {
    color: #333;
  }
  .nav-link li {
    display: flex;
    margin-bottom: 0;
  }

  .navbar-toggler {
    display: block;
    width: 100%;
    color: transparent !important;
    border: none !important;
    text-align: center;
  }
  #logo {
    margin-top: 20px;
  }
  .list img {
    display: none;
  }
}
